<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thedeveloperworldisyours.hellorxjava">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".simple.basic.BasicActivity" />
        <activity android:name=".simple.asynchronous.AsynchronousActivity" />
        <activity android:name=".simple.singles.SinglesActivity" />
        <activity android:name=".simple.subjects.SubjectsActivity" />
        <activity android:name=".simple.map.MapActivity" />
        <activity android:name=".simple.TogetherActivity"></activity>
    </application>

</manifest>